.navsidebar_categorie_title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #444444;
  margin-bottom: 10px;
}

.navsidebar_categorie_option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.84rem;
  font-weight: 500;
  color: #444444;
  margin-bottom: 5px;
}
